body {
    margin: 1;
    background: gainsboro;
}

h5 {
  background-color: cyan;
  margin-top: -6px;
 margin-bottom: -6px;
  padding:0;
  display: inline-block;
}


h1 {
     margin-bottom: 0;
  /* font-size: 3em;  */
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
   margin-bottom: 0;
}

h3 {
   margin-bottom: 0;
}

h4 {
   margin-bottom: 0;
}


/* add in line dt dd table */
/* https://codepen.io/agasthyanavaneeth/pen/nvgCz   */
dl.inline-flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 300px; /* set the container width*/
  overflow: visible;
}
dl.inline-flex dt {
  flex: 0 0 50%;
  text-overflow: ellipsis;
  overflow: hidden;
}
dl.inline-flex dd {
  margin-left: auto;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 0 0 50%
}



    
    
    
    
    /*
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

p {
    font-size: 1.5em;
    line-height: 1em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
hr {  background-color: #eee;
    border: 0 none;
    height: 0em;
}




ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

*/   
