<!DOCTYPE html>
        <head>
          
                        <title id="mywantedname">{{ page.title }}</title>
                        <!-- link to main stylesheet -->
                       <link rel="stylesheet" type="text/css" href="https://cashfields.github.io/TioCash/css/main.css"> 
	
			
			
         </head>



<body>
		
	"----"
	   <span id="mywantedname"></span>
		"----"
	   &nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="https://cashfields.github.io/TioCash/index.html" target="_blank">Home</a>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="mailto:cashfieldsutc@gmail.com">email</a></li>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="https://github.com/cashfields/tiocash">TioCash Project</a>
		
                   
                        <div class="container">

                        {{ content }}

                       </div><!-- /.container -->
                        <footer>
                    
                        </footer>
                </body>
        </html>
