<!DOCTYPE html>
        <html>
                <head>
                        <title>{{ page.title }}</title>
                        <!-- link to main stylesheet -->
                       <link rel="stylesheet" type="text/css" href="https://cashfields.github.io/TioCash/css/main.css"> 
 
	
                </head>
<!--
<style>
body {
background: gainsboro;
}
</style>
-->

<body onload="loadFunction()">
        
<script>
function loadFunction() {


alert("Page is loaded");
 document.getElementById('username').innerHTML = document.title;
alert("usrrname");
}
</script>	
	
	
	
	
	
	
	
	
                      <a href="https://cashfields.github.io/TioCash/index.html">Home</a>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="mailto:cashfieldsutc@gmail.com">email</a></li>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="https://github.com/cashfields/tiocash">TioCash Project</a></li>
                      <span id="username"></span>
                        
                        <div class="container">

                        {{ content }}

                       </div><!-- /.container -->
                        <footer>
                    
                        </footer>
                </body>
        </html>
